#About{
background-image: url('https://cdn.pixabay.com/photo/2016/09/30/14/56/venetian-1705528_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center;
  margin-bottom: 20px; 
 
}