/*
#Category{
  background-image: url('https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-1270765-2422461.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center;
  margin-bottom: 20px; 


#Category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -20;
}
*/

body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: #f7f4ef;
 
}

/*upgraded cool better master category styling😎😛*/
#Category {
  background-image: url('https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-1270765-2422461.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  position: relative;
  color: #fff;
  text-align: center;
 
}

@media (max-width: 1000px) {
  .category-title {
    font-size: 300rem;
  }

  .category-card-content {
    text-align: center;
  }
}


/*"Choose Your Destination" Title Styling*/
.category-title {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  margin-top: -550px;
}

.category-title h2{
text-align: left;
justify-content: right;
display: flex;
align-items: center;
}


/* Space between cards*/ /*The cards grid(position in the space)*/
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1250px;
  

} 


/* Card text backdround*/
.category-card {
  background: rgba(251, 251, 251, 0.39);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  backdrop-filter: blur(6px);

}

/*Hover ambiens*/
.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.818);
}


/* More space inside the card-IMG*/
.category-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
/*Zoom effect on hover */
.category-card:hover img {
  transform: scale(1.1);
}

/* More space inside the card-Text*/
.category-card figcaption {
  padding: 60px;
  text-align: left;
}
/* Card Text Styling-Card Tittle */
.category-card h3 {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 4px;
  margin-top: -35px;
  font-weight: 600;
}
/* Card Text Styling-Card <p> */
.category-card p {
  color: #f0f0f0;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .category-title {
    font-size: 3rem;
    margin-left: 300px;
  }

  .category-card figcaption {
    text-align: center;
  }
}