.cities-page {
  background-image: url('https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-1270765-2422461.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 8% 80px;
  position: relative;
  color: #fff;
}

.cities-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.cities-title {
  text-align: center;
  font-size: 2rem;
  color: #ce4814;
  margin-bottom: 50px;
}

.cities-grid {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.city-card {
  background: rgba(251, 251, 251, 0.39);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  backdrop-filter: blur(6px);
  position: relative;
  z-index: 1;
}

.city-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.city-card:hover img {
  transform: scale(1.1);
}

.city-card h3 {
  color: #ffffff;
  font-size: 1.4rem;
  margin: 16px;
  margin-top: -35px;
  font-weight: 600;
}

.city-card p {
  color: #f0f0f0;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 16px 20px;
}

.city-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.3);
}



